:root{
    --blue_logo_color:#2196F3;
    --text_grey_color:#757575;
    --card-shadow:0px 3px 5px -3px black;
}

a {
    color:black;
    text-decoration: none;
}

ul {
    list-style-type: none;
    padding: 0;
}

body {
    font-family: "Roboto" ;
    margin: 0px;
    width: 1600px;
    margin-left: auto;
    margin-right: auto;
}

header{
    display: flex; 
    align-items: center;
    height: 80px;
}

header .logo {
    font-family: "Raleway";
    font-weight: 700;
    font-size: 26px;
    margin-left: 215px;
}

.logo .color_logo {
    color: var(--blue_logo_color);
}

.navigation .links{
    display: flex;
    margin-left: 102px;
}

.navigation .links li{
    margin-right: 45px;
    font-weight: 500;
}

.navigation .links li:last-child {
    margin-right: 0;
}
.navigation .links li :hover {
    color: var(--blue_logo_color);
}

.contact_info {
    display: flex;
    margin-left: 309px;
}

.contact_info li a{
    margin-right: 30px;
    font-weight: 500;
    color:var(--text_grey_color);
    fill:var(--text_grey_color);
}

.contact_info li a:hover {
    color: var(--blue_logo_color);
    fill: var(--blue_logo_color);
}

/*main*/

.order{
    display: flex;
    background-color: #2F303A;
    height: 600px;
    flex-direction: column;
    align-items: center;
    justify-content: center
}

.order h1{
    color: #ffff;
    font-size: 44px;
    font-weight: 900;
    width: 1048px;
    text-align: center;
    text-transform: uppercase;
}

.order_button{
    background-color: var(--blue_logo_color);
    color: #ffff;
    cursor: pointer;
    font-size: 16px;
    font-weight: 700;
    border: 0;
    border-radius: 4px;
    width: 200px;
    height: 50px;
}

/* main section description */

.description{
    margin-top: 44px;
}

 .description ul {
    display: flex;
    margin-left: 215px;
 }

 .description ul li{
    margin-right: 30px;
 }

  .description ul li:last-child {
      margin-right: 0;
  }

.description ul li div{
    background-color: #F5F4FA;
    width: 270px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.description ul li h3 {
    font-weight: 700;
}

.description ul li p {
    color: var(--text_grey_color);
    width: 270px;
}

/*main section example*/
.example{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.example h2{
    font-size: 36px;
    font-weight: 700;
}

.example ul{
    display: flex;
}

.example ul li{
    margin-left: 29px;
}

.example ul li img{
    border-radius: 10px;
}

.our_team {
    background-color: #F5F4FA;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.our_team h2 {
    font-size: 36px;
    font-weight: 700;
}

.our_team .workers{
    display: flex;
    align-items: center;
    justify-content: center;
}

.our_team .workers .worker{
    background-color: #FFFFFF;
    width: 270px;
    border-radius: 0 0 4px 4px;
    box-shadow: var(--card-shadow);
    margin-right: 30px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.our_team .workers .worker .name{
    font-size: 16px;
    font-weight: 500;
}

.our_team .workers .worker .post {
    font-size: 16px;
    color: var(--text_grey_color);
}

.our_team .workers .worker a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    fill: #AFB1B8;
}

.our_team .workers .worker ul {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0 15px;
    padding: 0;
}

.our_team .workers .worker ul li{
    margin-right: 10px;
}

.our_team .workers .worker a:hover {
    background-color: var(--blue_logo_color);
    fill: white;
    border-radius: 100%;
}

/* footer */

 footer {
    background-color: #2F303A;
    display: flex;
    width: 1600px;
    height: 252px;
    align-items: center;
}

footer .info {
    margin-left: 215px;
}

footer .social_medias{
    margin-left: 43px;
}

footer .get_info{
    margin-left: 93px;
    display: flex;
    flex-direction: column;
}